<nav class="navbar navbar-dark bg-dark">
    <a class="navbar-brand" href="/">Menu principal</a>
    <a href="api-docs" class="api-docs">Afficher la documentation de l'api avec swagger</a>
    <a href="owners" class="owners">Afficher les créateurs</a>
    <a href="scenes" class="scenes">Afficher les scenes</a>
</nav>