<nav class="navbar navbar-dark bg-dark">
    <a class="navbar-brand" href="#">SAE S3S4</a>
    <a href="owners" class="owners">Afficher les créateurs</a>
    <a href="scenes" class="scenes">Afficher les scenes</a>
</nav>