<h1 style="color: red; background-image:
        url(https://cdn.dribbble.com/users/285475/screenshots/2083086/dribbble_1.gif);
        height: 400px;
        background-position: center;">
    ERROR 404: PAGE NOT FOUND</h1>
<h3>
    <p>La page que vous souhaitez n'est pas disponible !</p>
    <a href="/" class="link_404">Retourner au menu principal</a>
</h3>
